In [1]:
import pandas as pd

In [2]:
Dados = pd.read_csv('Dados\\Geiser_Bruto.csv', index_col = 0)

Dados.head()

   eruptions  waiting
1      3.600       79
2      1.800       54
3      3.333       74
4      2.283       62
5      4.533       85

In [3]:
Dados = Dados.rename(columns = {'eruptions': 'Duracao', 'waiting': 'Espera'})

Dados.head()

   Duracao  Espera
1    3.600      79
2    1.800      54
3    3.333      74
4    2.283      62
5    4.533      85

In [4]:
Dados.to_csv('Dados\\Geiser_Processado.csv', index = False)